fastapi==0.115.6
uvicorn[standard]==0.34.0
requests==2.32.3
pytest==8.3.4
pytest-html==4.1.1
pytest-xdist==3.6.1
pytest-rerunfailures==15.0
pytest-playwright==0.6.2
playwright==1.49.1
pydantic==2.10.4
email-validator==2.2.0
python-dotenv==1.0.1
allure-pytest==2.13.5
